.idea
vendor
phinx*.yml
var/log/
var/cache
var/db-dump
var/tmp-phpqa
!var/cache/l10/.gitkeep
!var/cache/.gitkeep
var/proxies/*
!var/proxies/.gitkeep
docker-compose.yml
db/dump
.env
src/.scannerwork
*.csv
.phpunit.cache
src/Ports/Cli/DevTestCommand.php