@keyframes ellipsis-first {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes ellipsis-mid {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
@keyframes ellipsis-last {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
